<div class="p-4">
    <p>RESTAURANT</p>
    <div class="container row   d-grid gap-3">
        
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Restaurant 1</h5>
              <p class="card-text">Restaurant 1 is now available for booking. Book now!</p>
              <a href="/book/category/restaurant/details" class="btn btn-primary">Book</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Restaurant 2</h5>
              <p class="card-text">Restaurant 2 is now available for booking. Book now!</p>
              <a href="#" class="btn btn-primary">Book</a>
            </div>
          </div>
          
    </div>
</div>